<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).blank? ? '' : "#{yield(:title)} :: " %><%= t('site_name') %></title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>

  <%= yield(:head) %>
</head>
<body>

<%= hidden_div_if(alert, :id => 'alert') { alert } %>
<%= hidden_div_if(notice, :id => 'notice') { notice } %>

<%= yield %>

</body>
</html>
