<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).blank? ? '' : "#{yield(:title)} :: " %><%= t('site_name') %></title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>

  <%= yield(:head) %>
</head>
<body>

<div id="page">
  <%= content_tag(:div, notice, :class => 'notice') if notice %>
  <%= content_tag(:div, alert, :class => 'alert') if alert %>

  <%= yield %>
</div>

</body>
</html>
