<%= title(t('users.password.title')) %>

<% unless current_user == @user %>
    <h2><%= t('users.password.title', :user_name => @user.fio) %></h2>
<% end %>

<%= form_for(@user, :url => password_update_user_path(@user)) do |f| %>
    <%= render 'shared/error_messages', :target => @user %>

    <div class="field">
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation %>
    </div>
    <% if current_user == @user %>
        <div class="field">
          <%= f.label :current_password %><br/>
          <%= f.password_field :current_password %>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit t('users.password.submit') %>
    </div>
<% end %>

<div class="nav-actions">
  <%= link_to(t('users.password.edit_profile'), edit_user_path(@user)) if can?(:update, @user) %>
</div>